<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/resources :: headTags}">
</head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('book')}"></nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="py-4 mb-2 text-center">
                        Creating a new book
                    </h1>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <form id="book-form" th:action="@{/books/create}" th:object="${book}" method="post">
                                <!-- CONTROLLO ERRORI TUTTI IN CIMA-->
                                <!-- <div class="mb-3" th:if="${#fields.hasErrors()}">
                                    <ul class="alert alert-danger  ps-5">
                                        <li th:each="error : ${#fields.allErrors()}" th:text="${error}" />
                                    </ul>
                                </div> -->
                                <!-- CONTROLLO ERRORI PER CIASCUN CAMPO! -->
                                <div class="mb-3">
                                    <label class="form-label" for="title">Title:</label>
                                    <input class="form-control" type="text" id="title" th:field="*{title}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('title')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="single-category form-check" th:each="category : ${categories}">
                                        <input type="checkbox" th:id="|category-${category.id}|"
                                            th:field="${book.categories}" th:value="${category.id}">
                                        <label th:for="|category-${category.id}|" class="form-check-label"
                                            th:text="${category.name}" />
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="author">Author:</label>
                                    <input class="form-control" type="text" id="author" th:field="*{author}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('author')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="publication-date">Publication Date:</label>
                                    <input class="form-control" type="date" id="publication-date"
                                        th:field="*{pubblicationDate}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('pubblicationDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('pubblicationDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="isbn">ISBN Code:</label>
                                    <input class="form-control" type="text" id="isbn" th:field="*{isbn}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('isbn')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('isbn')}" th:text="${error}" />
                                        </ul>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="publisher">Publisher:</label>
                                    <input class="form-control" type="text" id="publisher" th:field="*{publisher}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('publisher')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('publisher')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="synopsis">Book Synopsis:</label>
                                    <textarea class="form-control" id="synopsis" th:field="*{synopsis}" th:errorClass="
                                        is-invalid" />
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('synopsis')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('synopsis')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="number-of-copies">Number of copies:</label>
                                    <input class="form-control" type="number" min="0" id="number-of-copies"
                                        th:field="*{numberOfCopies}" th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('numberOfCopies')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('numberOfCopies')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Create new book">
                                    <input type="reset" class="btn btn-warning" value="Reset all fields">
                                </div>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>