<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Books</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('books')}"></nav>
    <main class="container">
        <h1>Books</h1>
        <hr />

        <div class="mb-3 d-flex">
            <a th:href="@{/books/create}" class="me-auto btn btn-primary btn-sm">
                Create new Book
            </a>
        </div>

        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${books.size() > 0}">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Date</th>
                            <th>Copies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}" th:object="${book}">
                            <td>[[*{isbn}]]</td>
                            <td>[[*{title}]]</td>
                            <td>[[*{author}]]</td>
                            <td>[[*{publisher}]]</td>
                            <td>[[*{pubblicationDate}]]</td>
                            <td>[[*{numberOfCopies}]]</td>
                        </tr>
                    </tbody>
                </table>
                <p th:unless="${books.size() > 0}" th:text="There are no books available at the moment..." />
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>