<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Categories</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('categories')}"></nav>
    <main class="container" th:object="${category}">
        <h1>Category "[[*{name}]]"</h1>
        <hr />
        <section class="row mb-3">
            <div class="col-12">
                <h1 class="mb-3 fw-bold">[[*{name}]]</h1>
                <hr />
                <h2 class="mb-3">Books in this category: [[*{books.size()}]]</h2>
                <hr />
                <h2>Descrizione:</h2>
                <p th:text="*{description}" />
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>