<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Home</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('books')}"></nav>
    <div class="container">
        <h1 class="text-center fw-bold mb-4">Benvenuto nella Biblioteca di Alexandria!</h1>

        <hr />

        <p class="text-center">
            Ciao a tutti, sono Michelangelo Musco, e sono entusiasta di darvi il benvenuto nella mia biblioteca
            digitale.

            Questo spazio è stato creato come parte di un percorso di apprendimento e crescita nel mondo dello sviluppo
            web, utilizzando le potenti tecnologie di Java e Spring Boot. Qui non troverete solo un elenco di libri, ma
            il frutto di uno studio appassionato e di un progetto sviluppato con cura e attenzione.

            Ogni funzionalità che vedete è il risultato dell'applicazione di concetti di programmazione fondamentali:

            La gestione del database con JPA e Hibernate.

            La creazione di interfacce dinamiche e reattive con Thymeleaf.

            Lo sviluppo di API e servizi per la gestione dei dati.

            Il mio obiettivo è che questa biblioteca non sia solo un database di titoli, ma una dimostrazione pratica di
            come il codice possa dare vita a un'applicazione robusta, efficiente e intuitiva. Spero che l'esplorazione
            di questa piattaforma possa essere piacevole tanto quanto lo è stato costruirla per me.

            Sentitevi liberi di esplorare la collezione e di dare un'occhiata a quello che ho realizzato.
            <hr />
        </p>
    </div>
    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>