<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/resources :: headTags}">
</head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('borrowings')}"></nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="py-4 mb-2 text-center fw-bold">
                        Borrowing "[[${borrowing.getBook().getTitle}]]" <br />by [[${borrowing.book.author}]]
                    </h1>
                    <div class="row justify-content-center">
                        <div class="col-8">

                            <form id="borrowing-form" th:object="${borrowing}"
                                th:action="${edit} ? @{/borrowings/{id}/edit(id = ${borrowing.id})} : @{/borrowings/create}"
                                method="post">
                                <!-- qui nascondo i dati del mio libro  -->
                                <input type="hidden" th:field="*{book}" id="linked-book">

                                <div class="mb-3">
                                    <label class="form-label" for="borrowing-date">Borrowing Date:</label>
                                    <input class="form-control" type="date" id="borrowing-date"
                                        th:field="*{borrowingDate}" th:errorclass="is-invalid"
                                        th:value="${borrowing.borrowingDate != null} ? ${#temporals.format(borrowing.borrowingDate, 'yyyy-MM-dd')} : ''">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('borrowingDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('borrowingDate')}"
                                                th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="return-date">Return Date:</label>
                                    <input class="form-control" type="date" id="return-date" th:field="*{returnDate}"
                                        th:errorClass="is-invalid">
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('returnDate')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('returnDate')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="title">Notes:</label>
                                    <textarea id="notes" class="form-control" th:field="*{notes}"
                                        th:errorClass="is-invalid"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('notes')}">
                                        <ul>
                                            <li th:each="error : ${#fields.errors('notes')}" th:text="${error}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="mb-3 d-flex justify-content-between">
                                    <input type="submit" class="btn btn-primary" value="Save">
                                    <input type="reset" class="btn btn-warning" value="Reset all fields">
                                </div>

                            </form>
                        </div>
                    </div>

                </th:block>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>